$DAWN: #ebedf8;
$DUSK: #dcdfee;
$SMOKE: #f6f7fa;
$SLATE: #979eaa;
$MIDNIGHT: #354052;
$LINK: #5c84d3;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 95vw;
  margin: auto;
}

.title {
  font-family: 'Pacifico', cursive;
  font-size: 45px;
  margin-left: 0.5rem;
  // color: white;
}

.titleContainer {
  display: flex;
  margin-left: 60px;
  align-items: center;
}

.headerNavigationContainer {
  height: inherit;
  width: 48rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #346751;
  text-align: center;
}

.ag-root-wrapper.ag-layout-normal.ag-ltr {
  margin-top: 20px;
  align-self: center;
}

.ag-theme-alpine.skeleton {
  margin-top: 100px;
}

.ag-theme-alpine {
  width: 95vw !important;
  height: 79vh !important;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
}

.ag-theme-alpine .ag-root-wrapper {
  border: 1px solid $DUSK !important ;
  border-radius: 3px;
}

.ag-header-viewport {
  background: #c84b31;
  font-size: 20px;
}

.ag-header-row {
  height: 55px !important;
}

.ag-header-cell-text {
  color: #161616;
}

.ag-header-cell {
  border-right: 1px solid $DUSK !important;
}

.ag-row-odd {
  &:not(.ag-row-hover) {
    background: $SMOKE !important;
  }
  border: none !important;
}

.ag-row-even {
  border: none !important;
}

.ag-theme-alpine .ag-cell {
  border: none;
}

.ag-theme-alpine .ag-ltr .ag-cell {
  border-right: 1px solid $DUSK !important;
  display: flex;
  align-items: center;
}

.ag-paging-panel {
  color: $SLATE !important;
  height: 32px !important;
}

.ag-cell.ag-cell-not-inline-editing.ag-cell-auto-height.ag-cell-value.ag-cell-wrap-text {
  word-break: break-word;
}

.id-link {
  color: $LINK;
  cursor: pointer;
}

.mainSiteLink {
  display: flex;
  color: #161616;
  width: 140px;
  height: 50%;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  background: none;
  box-shadow: 0px 0px 8px #ecdbba;
  cursor: pointer;
  outline: none;
  font-size: 20px;
  &:hover {
    background-color: #ecdbba;
  }
  .mainLink {
    text-decoration: none;
  }
}

.fuzzyInuLogo {
  height: 60px;
  width: 60px;
  background-image: url('./fuzzy-inu-logo.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.disclaimer {
  color: #161616;
  margin: unset;
}

.betaTitle {
  // background-color: #df8f8f;
  background-color: #ac0f4b;
  color: white;
  font-weight: bold;
  font-size: 14px;
  width: 80px;
  padding: 5px;
  margin-left: 0.75rem;
  border-radius: 10px;
}
